@page "/"
@using MoodBlazor.Components
@using MoodBlazor.Services;
@inherits IndexBase
@inject MoodEntryService meService

<div class="center-container">
    @foreach (var entry in meService.MoodEntries) {
        <MoodEntryComponent State="@entry.Picture" CreationDate="@entry.CreationDate" />
    }
</div>