<button>
    <div>
        <p>@State</p>
        <p>@CreationDate</p>
    </div>
</button>

@code {
    [Parameter]
    public string State { get; set; }

    [Parameter]
    public DateTime CreationDate { get; set; }
}