<button class="moodentry-btn">
    <div>
        <img src="images/@State" class="mood-state-img" />
        <p>@CreationDate</p>
    </div>
</button>

@code {
    [Parameter]
    public string State { get; set; }

    [Parameter]
    public DateTime CreationDate { get; set; }
}